# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Ansible temporary/retry files
*.retry

# Secrets
*.vault
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform/*.txt

# OS/editor junk
.DS_Store
.vscode/
ansible/rendered-configs
